.wrapper {
  width: 400px;
  float:left;
  position:relative;
  margin-right: 40px;
  padding: 50px 100px;
}
.material {
  position: absolute;
  left: 0;
  background-size: 170px;
  width: 170px;
  height: 170px;
  margin-left: 50px;
  border-radius: 50%;
}
.material span {
  position: absolute;
  width: 120px;
  text-align: center;
  bottom: 15px;
  color: white;
  left: 50%;
  margin-left: -60px;
  font-size: 12px;
  color: black;
}
.color {
  position: absolute;
  right: 0;
  background-size: 170px;
  width: 170px;
  height: 170px;
  margin-right: 50px;
  border-radius: 50%;
}
.color span {
  position: absolute;
  width: 120px;
  text-align: center;
  bottom: 15px;
  color: white;
  left: 50%;
  margin-left: -60px;
  font-size: 12px;
}
.blended {
  float:left;
  margin-top: 10px;
  position: relative;
  width: 200px; height: 200px;
  margin-left: 100px;
  background-size: 200px;
  background-blend-mode: color-burn;
  border-radius: 50%;
  /*box-shadow: 0px 0px 5px #666;*/
}
.blended span {
  position: absolute;
  width: 200px;
  text-align: center;
  bottom: 15px;
  color: white;
  left: 50%;
  margin-left: -100px;
  font-size: 12px;
}



.suede {
  background-image: url(../images/suede3.jpg);
}
.glossy {
  background-image: url(../images/glossy1.jpg);
}
.sheep {
  background-image: url(../images/sheep.jpg);
}
.cow {
  background-image: url(../images/cow.jpg);
}

.burgundy {
  background-color: #8f1313;
}
.black {
  background-color: #333;
}
.white {
  background-color: #fff;
  background-blend-mode: luminosity;
}

.bright {
  -webkit-filter: brightness(1.10);
}

.border {
  border:1px solid gray;
}
.color-black {
  color: black !important;
}
